<div class="container mt-5">
    <div class="row">

        <section class="col-3">
            <h5 class="text-warning ms-3">Sort</h5>
            <div class="select-custom mb-3">
                <select name="" id="" (change)="onSortSelected($event)" class="form-select">
                    @for (sort of sortOptions; track $index) {
                    <option value="{{sort.value}}">{{sort.name}}</option>
                    }
                </select>
            </div>

            <h5 class="text-warning ms-3">Brands</h5>
            <ul class="list-group my-3">
                @for (brand of brands; track $index) {
                <li class="list-group-item" aria-current="true" 
                    [class.active]="shopParams.brandId === brand.id"
                    [value]="brand.id" (click)="onBrandSelected(brand.id)">
                    {{brand.name}}
                </li>
                }
            </ul>

            <h5 class="text-warning ms-3">Types</h5>
            <ul class="list-group my-3">
                @for (type of types; track $index) {
                <li class="list-group-item" aria-current="true" 
                    [class.active]="shopParams.typeId === type.id"
                    [value]="type.id" (click)="onTypeSelected(type.id)">
                    {{type.name}}
                </li>
                }
            </ul>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header 
                    [totalCount]="totalCount" 
                    [pageSize]="shopParams.pageSize" 
                    [pageNumber]="shopParams.pageNumber"
                ></app-paging-header>
                <div class="form-inline mt-2">
                    <input type="text" class="form-control d-inline me-2" 
                        #search style="width: 300px;" placeholder="Search" (keyup.enter)="onSearch()"/>
                    <button class="btn btn-outline-primary my-2" (click)="onSearch()">Search</button>
                    <button class="btn btn-outline-success my-2 ms-2" (click)="onReset()">Reset</button>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-3">
                @for (product of products; track $index) {
                <app-shop-item [product]="product"></app-shop-item>
                }
            </div>

            <div class="d-flex justify-content-center mt-3">
                @if (totalCount && totalCount > 0) {
                    <app-pager 
                        [totalCount]="totalCount" 
                        [pageSize]="shopParams.pageSize" 
                        (pageChanged)="onPageChanged($event)"
                    ></app-pager>
                }
            </div>
        </section>
    </div>
</div>